/*reset.css*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 12px/1 'Microsoft YaHei', Helvetica, Arial, Verdana, sans-serif
}

h1 {
    font-size: 18px;
    font-weight: normal
}

h2 {
    font-size: 16px;
    font-weight: normal
}

h3 {
    font-size: 14px;
    font-weight: normal
}

h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}
ul, ol, li {
    list-style: none
}

a {
    text-decoration: none
}


img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.hidden{
    display: none;
}
/*animate*/
.loadingBox{
    -webkit-animation: cubeMove 1.8s infinite ease-in-out;
    -o-animation: cubeMove 1.8s infinite ease-in-out;
    animation: cubeMove 1.8s infinite ease-in-out;
}
@-webkit-keyframes cubeMove {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}

@keyframes cubeMove {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
.love .start{
    -webkit-animation: cubeScale 2s infinite ease-in-out;
    -o-animation: cubeScale 2s infinite ease-in-out;
    animation: cubeScale 2s infinite ease-in-out;
}
@-webkit-keyframes cubeScale {
    0% { -webkit-transform: scale(.6) }
    50%{ -webkit-transform: scale(1) }
    100% { -webkit-transform: scale(.6) }
}

@keyframes cubeScale {
    0% { -webkit-transform: scale(.6) }
    50%{ -webkit-transform: scale(1) }
    100% { -webkit-transform: scale(.6) }
}
/*拼图页面圆圈颜色，依次为*/
.circles {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.circles {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circles-color1 {
    color: #ef8031;
}

.circles-color2 {
    color: #914603;
}

.circles-color3 {
    color: #010101;
}

.circles-color4 {
    color: #2a3283;
}

.circles-color5 {
    color: #83bf4b;
}

.circles-color6 {
    color: #17fcff;
}

.circles-color7 {
    color: #f3e202;
}

.circles-color8 {
    color: #ca0303;
}

.circles-color9 {
    color: #a605ac;
}

.circles-color10 {
    color: #ffe5c1;
}

.circles-color11 {
    color: #e12677;
}

.circles-color12 {
    color: #8d8d8d;
}
/*加载页*/
html,body{
    width: 100%;
    height: 100%;
}
.page-load,.page-index,.page-mask,.page-wall{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position:relative;
    top: 0;
}
.page-load,.page-wall{
    background-image: url("../img/loading_bg.png");
}
.page-load .box,.page-mask .box{
    position: absolute;
    margin-top: 280px;
    width: 100%;
    text-align: center;
}
.page-load .progress{
    display: block;
    margin: 40px auto 0;
    color: #030303;
    font-size: 22px;
}
/*分享蒙层*/
.page-mask{
    background-image: url("../img/btn_mask.png");
}
.page-mask .uploadImg{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 130px;
}
/*首页*/
.page-index{
    background-image: url("../img/bg_index.png");
}
.love{
    width: 100%;
    position: absolute;
    top: 615px;
}
.love .a520Img{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.love .plan{
    margin: 0 auto;
    display: block;
}
.love .lslLog{
    margin: 8px auto 4px;
    display: block;
}
.a520Img img{
    opacity: 0;
}
.love .start{
    margin: 20px auto 0;
    display: block;
}
/*拼图*/
.page-pintu{
    width: 100%;
    height: 100%;
    background-image: url("../img/loading_bg.png");
    background-size: 100% 100%;
    position: relative;
    top: 0;
}
.page-create{
    width: 100%;
    height: 100%;
    background-image: url("../img/loading_bg.png");
    background-size: 100% 100%;
    position: relative;
    top: 0;
    display: none;
}
.pintuSpace{
    width: 100%;
    height: 30px;
}
#canvasWrap,#creatImgWrap{
    border: 4px solid #120408;
    border-radius: 4px;
    width: 585px;
    height: 721px;
    margin: 0 auto;
    position: relative;
}
#creatImgWrap img{
    width: 100%;
}
.desMyProject{
    width: 470px;
    height: 50px;
    display: -webkit-box;
    margin: 0 auto;
}
.desMyProject img{
    margin-top:10px;
    margin-right: 20px;
}
.desMyProject .inputWrap{
    -webkit-box-flex: 1;
    border-bottom: 1px solid #434343;
    line-height: 50px;

}
.desMyProject .inputWrap input{
    border:none;
    background: transparent;
    color: #6b6969;
    font-size: 22px;
    width: 230px;
    height: 50px;
}
.desMyProject .inputWrap strong{
    color: #e61960;
    font-size: 22px;
}
.circleList {
    overflow: hidden;
    width: 360px;
    margin: 15px auto;
}
.circles{
    float: left;
    margin:0 10px 10px 0;
    box-shadow: 2px 5px 5px #908785;
}
.circles-color1 {
    background-color: #ef8031;
}

.circles-color2 {
    background-color: #914603;
}

.circles-color3 {
    background-color: #010101;
}

.circles-color4 {
    background-color: #2a3283;
}

.circles-color5 {
    background-color: #83bf4b;
}

.circles-color6 {
    background-color: #17fcff;
}

.circles-color7 {
    background-color: #f3e202;
}

.circles-color8 {
    background-color: #ca0303;
}

.circles-color9 {
    background-color: #a605ac;
}

.circles-color10 {
    background-color: #ffe5c1;
}

.circles-color11 {
    background-color: #e12677;
}

.circles-color12 {
    background-color: #8d8d8d;
}
.operation{
    width: 560px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
#goBack{
    float: left;
}
#reset{
    float: right;
}
.floatDiv>div{
    position: absolute;
}
#creatDes{
    font-size: 28px;
    color: #161616;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}
.longPress{
    font-size: 24px;
    color: #e62769;
    text-align: center;
    margin: 15px 0;
}
.flauntBtn{
    float: left;
}
.wallBtn{
    float: right;
}
.page-create .operation{
    padding-top: 20px;
}


/*生成作品*/
/*情书墙*/
.page-wall .tip{
    color: #e61960;
    font-size: 22px;
    display: block;
    margin: 10px auto;
    text-align: center;
}
.page-wall .wall-btn{
    margin-top: 50px;
    text-align: center;
}
.page-wall .wall-btn img{
    margin-right: 10px;
}
.wall-title{
    padding: 3px 10px;
    overflow: hidden;
}
.wall-title img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.wall-content{
    overflow: hidden;
    zoom: 1;
    margin-left: 10px;
}
.wall-li{
    position: relative;
    float: left;
    margin: 10px;
}
.wall-li .msg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px 0;
    height: 51px;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    font-size: 23px;
}
.wall-li .msg span{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 25px;
}
.wall-li img{
    width: 175px;
    height: 215px;
}

/*分享后*/