.index_title{
    background-image: none;
}
.index_title p{
    text-align: center;
    font-size: 30px;
    color: #333333;
    line-height: 0;
}
.menu-trigger:before {
    background: #34495e;
    box-shadow: 0 6px #fff, 0 12px #34495e, 0 18px #fff, 0 24px #34495e;
}
.content {
    padding-top: 115px;
}
.block-40{
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
}




.middle{
    padding: 0 47px 58px 47px;
}
.middle .maxImg{
    width: 100%;
}
.part .bigTitle{
    font-size: 30px;
    color: #333333;
    padding-top: 55px;
    font-weight: bold;
}
.part .smallTitle{
    font-size: 26px;
    color: #333333;
    padding-top: 20px;
}
.part .des{
    font-size: 22px;
    line-height: 40px;
    color: #999999;
    padding-top: 38px;
}
.part hr{
    margin: 34px 0 22px 0;
    border: 2px solid #999999;
}
.table{
    width: 100%;
    color: #999999;
    font-size: 22px;
    line-height: 22px;
    background: transparent;
}
.table tr{
    background: #f7f7f7;
    line-height: 46px;
    margin: 10px 0;
    display: block;
    overflow: hidden;
}
.table td{
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 10px;
}
